.answer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  
  justify-content: center;
  align-items: center;
}

.answer-block {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 25px;

  border: 1px solid black;
  border-radius: 4px;

  font-size: 1.5rem;

  background-color: rgba(255, 255, 255, 0.8);
}

span {
  color: black;
  font-size: 1.5rem;

  &.answer-cost {
    font-weight: bold;
  }

  &.answer-category {
    font-style: italic;
  }
}


ul {
  margin: 0;
  padding-left: 20px;
}

$breakpoint-answer: 480px;
@media (min-width: $breakpoint-answer) {
  .answer-block {
    width: 400px;
  }
}