body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: auto;
}

#root {
  background-image: url('train-bg.jpg');
  background-size: cover;
  /* background-position: bottom; */
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

$breakpoint: 980px;
@media (min-width: $breakpoint) {
  html, body, #root {
    height: 100vh;
  }  
}