.settings {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 25px;

  border: 1px solid black;
  border-radius: 4px;

  font-size: 1.5rem;

  background-color: rgba(255, 255, 255, 0.8);

  grid-area: settings;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.settings-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  select, input {
    margin: 5px;
    width: 100%;
    font-size: 1rem;
  }
}

@media (min-width: 870px) {
  .settings {
    width: 930px;
  }
}